<section class="home-page">
  <header-custom></header-custom>
  <div class="card card-home">
   <search-page></search-page>
    <h2>Cars on promotion</h2>
    <div class="row">
      <div class="card col m3 s12">
        <div class="card-image">
          <img src="../images/car1.jpg">
          <span class="card-title">Card Title</span>
        </div>
        <div class="card-content">
          <p>The facelifted Toyota Etios is due to arrive in South Africa soon! Take a look at what you can expect in terms of pricing... </p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
        </div>

      </div>
      <div class="card col m3 s12">
        <div class="card-image">
          <img src="../images/car2.jpg">
          <span class="card-title">Card Title</span>
        </div>
        <div class="card-content">
          <p>The facelifted Toyota Etios is due to arrive in South Africa soon! Take a look at what you can expect in terms of pricing... </p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
        </div>

    </div>
      <div class="card col m3 s12">
        <div class="card-image">
          <img src="../images/car2.jpg">
          <span class="card-title">Card Title</span>
        </div>
        <div class="card-content">
          <p>The facelifted Toyota Etios is due to arrive in South Africa soon! Take a look at what you can expect in terms of pricing... </p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
        </div>
  </div>
      <div class="card col m3 s12">
        <div class="card-image">
          <img src="../images/car1.jpg">
          <span class="card-title">Card Title</span>
        </div>
        <div class="card-content">
          <p>The facelifted Toyota Etios is due to arrive in South Africa soon! Take a look at what you can expect in terms of pricing... </p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="card col m3 s12">
        <div class="card-image">
          <img src="../images/car1.jpg">
          <span class="card-title">Card Title</span>
        </div>
        <div class="card-content">
          <p>The facelifted Toyota Etios is due to arrive in South Africa soon! Take a look at what you can expect in terms of pricing... </p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
        </div>

      </div>
      <div class="card col m3 s12">
        <div class="card-image">
          <img src="../images/car2.jpg">
          <span class="card-title">Card Title</span>
        </div>
        <div class="card-content">
          <p>The facelifted Toyota Etios is due to arrive in South Africa soon! Take a look at what you can expect in terms of pricing... </p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
        </div>

      </div>
      <div class="card col m3 s12">
        <div class="card-image">
          <img src="../images/car2.jpg">
          <span class="card-title">Card Title</span>
        </div>
        <div class="card-content">
          <p>The facelifted Toyota Etios is due to arrive in South Africa soon! Take a look at what you can expect in terms of pricing... </p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
        </div>
      </div>
      <div class="card col m3 s12">
        <div class="card-image">
          <img src="../images/car1.jpg">
          <span class="card-title">Card Title</span>
        </div>
        <div class="card-content">
          <p>The facelifted Toyota Etios is due to arrive in South Africa soon! Take a look at what you can expect in terms of pricing... </p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>
  </div>
<footer-custom></footer-custom>
</section>
